body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  background-image: url("https://images5.alphacoders.com/130/1302017.png");
  background-size: cover; /* Use cover to ensure the background covers the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

header {
  background-color: #333;
  color: rgb(244, 252, 5);
  padding: 15px 0;
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  width: 80%; /* Adjust the width as per your design */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

input[type=text], input[type="email"], select, textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

input[type=submit] {
  width: 100%;
  background-color: #333;
  color: rgb(244, 252, 5);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: rgb(244, 252, 5);
  color: #333;
}

.main-content {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.main-content h1 {
  font-size: 26px;
  color: #333;
}

.main-content p {
  font-size: 16px;
  color: #333;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-size: 20px;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(244, 252, 5);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.center {
  margin: 0 auto;
  width: 50%;
}

footer {
  background-color: #333;
  color: rgb(244, 252, 5);
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
