body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  background-image: url("https://images5.alphacoders.com/130/1302017.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

header {
  background-color: #333;
  color: rgb(244, 252, 5);
  overflow: hidden;
  padding: 15px 0;
  text-align: center;
}

header nav ul li a {
  float: left;
  display: block;
  color: rgb(244, 252, 5);
  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: rgb(174, 180, 0);
  color: black;
}

h1 {
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

input[type=text],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

input[type=submit] {
  width: 100%;
  background-color: #333;
  color: rgb(244, 252, 5);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: rgb(244, 252, 5);
  color: #333;
}

.main-content {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.main-content h1 {
  font-size: 26px;
  color: #333;
}

.main-content p {
  font-size: 16px;
  color: #333;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-size: 20px;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(244, 252, 5);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.center {
  margin: 0 auto;
  width: 50%;
}

/* mobile */
@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  input[type=text],
  input[type="email"],
  select,
  textarea,
  header {
    padding: 8px;
  }
}

/* tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
  header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  header nav ul li:nth-child(n+4) {
    grid-column: 2;
  }

  form {
    width: 90%;
    padding: 15px;
  }
}

/* desktop*/
@media (min-width: 1025px) {
  form {
    width: 80%;
    padding: 20px;
  }

  head nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  input[type=text],
  input[type="email"],
  select,
  textarea {
    padding: 12px;
  }
}

footer {
  background-color: #333;
  color: rgb(244, 252, 5);
  text-align: center;
  font-size: 12px;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}