body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left, #541708, #1a0c01);
    margin: 0;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Full viewport height */
}

.container {
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.canvas-container,
.upload-container {
    margin-bottom: 20px;
    color: #fff;
    font-size: 25px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    color: #fff;
    font-size: 25px;

}

.image-box img {
    width: 95%;
    /* Scale to fit container width */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: contain;
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
    transition: all 0.3s ease;
    color: #fff;
    font-size: 25px;
}

#downloadBtn {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#downloadBtn:hover {
    background-color: #2980b9;
}

#originalImageBox {
    background-color: transparent
}

#modifiedImageBox {
    background-color: transparent;
}

#originalImage,
#modifiedImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.canvas-container {
    position: relative;
    color: #fff;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

button {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Media Queries */

/* Desktop */
@media only screen and (min-width: 1024px) {
    .image-box {
        width: 500px;
        /* Fixed width */
        height: auto;
        /* Maintain aspect ratio */
        max-height: 500px;
        /* Maximum height */
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .image-box {
        width: 600px;
        height: auto;
        max-height: 600px;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .image-box {
        width: 100%;
        /* Full width on small screens */
        max-width: 600px;
        /* Maximum width */
        height: auto;
        /* Maintain aspect ratio */
        max-height: 600px;
        /* Maximum height */
    }
}