body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    max-width: 1200px; /* Adjust the max-width based on your design */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-container {
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.image-box {
    width: 48%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#originalImageBox {
    background-color: #f9f9f9;
}

#modifiedImageBox {
    background-color: #e6f7ff;
}

#originalImage,
#modifiedImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.canvas-container {
    position: relative;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

button {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Media Queries */

/* For Desktops and Tablets */
@media only screen and (min-width: 768px) {
    .image-container {
        display: flex;
        justify-content: space-between;
    }
    .image-box {
        width: 45%; /* Reduced to account for any padding or margin */
    }
}

@media only screen and (min-width: 768px) {
    .image-box {
        width: 50%;
    }
}

/* For Mobile Devices */
@media only screen and (max-width: 767px) {
    .image-box {
        width: 100%;
    }
}